/* styling the asana picture */
.img-responsive {
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

/* background design */
body {
	background: url('images/concrete.jpg');
}

/* center each task text */
h2, h3 {
	text-align: center;
}

/* re-order "Asana tasks" label to the left */
.panel-title {
	text-align: left;
}

/* center task link and hide button */
p {
	text-align: center;
}

/* border */
#wellSection {
	background-color: #4aaaa5; 
}